.canvas {
  width: 800px;
  height: 512px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.panels {
  display: flex;
  height: 100%;
}