:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #FFFFFF;
  --text-color: #333;
  --accent-color: #0070f3;
  --on-accent-color: #FFFFFF;
  --accent-color-faded: #E8F0FE;
  --on-accent-color-faded: #004899;
  --border-color: #EDEDED;
  --error-color: #FF0000;
}

body {
  background-color: #f7f7f7;
  margin: 0px;
  padding: 0px;
}

body.dark {
  --background-color: #1c1c1c;
  --text-color: #FFFFFF;
  --accent-color: #0070f3;
  --on-accent-color: #FFFFFF;
  --accent-color-faded: #003067;
  --on-accent-color-faded: #b2d6ff;
  --border-color: #333;
  --error-color: #ff5353;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 22px;
  height: 22px;
}